<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.http.wire" level="debug" additivity="false">
      <appender-ref ref="console" level="debug"/>
    </Logger>
    <Root level="DEBUG" additivity="false">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
